h1
{
	font-family: calibri;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	color:greenyellow;
	text-decoration: underline;
	text-align: center;
}

p
{
	font-family: verdana;
	font-size: 20px;
    font-style: italic;
    color: blueviolet
}	
.intro
{ 
    text-transform: uppercase;
    text-indent: 60px;
    color: #ff0000;

}
div{
    font-size: 100px;
     color: red;
    text-shadow: 20px 10px 10px rebeccapurple;
}
